body{
    background-color: rgb(202, 232, 250);
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
*{
    margin:0;
}
.header{
    /* background-color: sandybrown; */
    text-align: center;
    font-size: large;
    position:fixed;
    margin: auto;
    height: auto;
    top: 0;
    width: 100%;
    background-color: #FF731D;
    color:white;
    
}
.container-heading{
    margin: auto;
}
.container-body{
    width:auto;
    margin: auto;
    margin-top:30px;
    background-color: #06283D;
}
.bookname{
    margin: auto;
    padding-top: 10px;
    color: #D06224;
    text-shadow: 10px;
    font-size: xx-large;
    font-weight: bold;
}
.author{
    font-size: 13px;
    color: rebeccapurple;
    margin:auto;
    font-style: italic;
    /* font-weight: 300px; */
    padding-bottom: 10px;
}
.book{
    margin: auto;
    width: auto;
    display: flex;
    height: auto;
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #DCD7C9;
}
.image{
    flex: 20%;
    /* background-color: lightgreen; */
    padding-top: 10px;
    padding-right:10px;
    padding-left: 10px;
    text-align: center;
}
.desc{
    flex: 80%;
    /* background-color: lightslategray; */
    padding-left: 10px;
    padding-right: 5px;
    text-align: justify;
    font-size: small;
    color: rgb(2, 0, 0);
    font-weight: 400;
    font-size: 14px;
}
.img{
    width: 250px;
    height: auto;
}
.print{
    max-width: 100px;
    min-width:20px ;
    width: 100px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border-style: none;
    transition: 8ms;
    background-color: #06283D;
    color: white;
}
.print:hover{
    background-color: #D06224;
    transition: 8ms;
    color: black;
}
.line{
    margin: auto;
    color: #A3DA8D;
}


