body{
    scroll-behavior: smooth;
    /* height: 10000px; */
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.container_image{
    background-image: url(images/background-image1.jpg);
    position: absolute;
    background-color: black;
    height: 670px;
    width: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
}
.container_main{
    background-color: rgb(0, 0, 0,0.7);
    height: 670px;
}

/* responsive navbar */
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: whitesmoke;
}
li{
    list-style: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0,0.8);
    position: fixed;
    padding: 0 14px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-branding{
    font-size: 20px;

}
.nav-link{
    transition: 0.7 ease;
}
.nav-link:hover{
    color: orange;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 20px;
    height: 1px;
    margin: 5px auto;
    border-radius: 6px;
    background-color: antiquewhite;
}
.introduction_container{
    padding-top: 300px;
}
.main_heading{
    text-align: center;
    font-size: x-large;
    color: white;
}
.main_heading_brown{
    color: rgb(236, 165, 33);
}
.sub_heading{
    padding-top:10px;
    text-align: center;
    color: white;
    font-size: medium;
}
.short_links{
    text-align: center;
    padding: 30px;
}
.readmore{
    padding: 10px;
    margin-right: 10px;
    width: 100px;
    height: 40px;
    border-radius: 17px;
    border-style: none;
    background-color:  rgb(236, 165, 33);
    color: antiquewhite;
    font-weight: bolder;
}
.readmore:hover{
    background-color: whitesmoke;
    color: orange;    
    border-radius: 20px;
}
.contact_us:hover{
    background-color: rgb(136, 131, 131);
    color: rgb(255, 255, 255);    
    border-radius: 20px;
}
.contact_us{
    padding: 10px;
    margin-left: 10px;
    width: 100px;
    height: 40px;
    border-radius: 17px;
    border-style: none;
    font-weight: bolder;
    color: black
}
/* section for we are steer */
.details_container{
    width: 100%;
    display: flex;
    background-color: rgb(228, 226, 226);
    height: 400px;
    padding-left: 10%;
    padding-right: 10%;
}
.details_container_briefs{
    width: 60%;
    /* padding: 10px; */
    padding-top: 40px;
    float: left;
}
.underline{
    width: 50px;
    height: 3px;
    background-color: orange;
    border-radius: 10px;
}
.details_container_briefs h3{
    padding-bottom: 15px;
}
.detail_container_content{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: justify;
    font-size: small;
}
.detail_container_content p{
    padding-bottom: 10px;
}
.details_container_images{
    width: 40%;
    /* padding: 10px; */
    padding-top: 50px;
    text-align: center;
}
.details_container_image_box{
    width: auto;
    float: right;
    max-width: 90%;
    height: auto;
}
.footer_contents{
    margin-top: 140px;
    display: flex;
    background-color: aquamarine;
    height: 60px;
}
/* our services */
.services_container{
    width: 100%;
    /* background-color: rgb(168, 109, 109); */
    height: auto;
    padding-bottom: 350px;
    padding-left: 10%;
    padding-right: 10%;
}
.services_container_heading{
    padding-bottom: 15px;
}
.services_container_heading h3{
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 40px;
}
.underline1{
    width: 50px;
    height: 3px;
    background-color: orange;
    border-radius: 10px;
    margin: auto;
}
.service_card_row{
    margin: 0px;
}
/* Clear floats after the columns */
.service_card_row:after {
    content: "";
    display: table;
    clear: both;
}
.services_cards_column{
    width: 33.33%;
    float: left;
    padding: 10px;
}
.service_card{
    height: 250px;
    background-color: rgb(233, 228, 228);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    font-size: small;
}
.service_card:hover{
    background-color: rgb(180, 222, 222);
    box-shadow: 0 1px 3px 0 rgb(0, 0, 0,0.3);
}
.service_icons{
    width: 200px;
    height: auto;
}
.footer_container{
    width: 100%;
    margin-top: 250px;
    height: 130px;
    display: flex;}
.footer_container_left{
    width: 30%;
    margin-top: 4px;
    background-color: rgb(0, 0, 0);
}
.footer_image{
    width: 200px;
    margin-top: 20px;
    margin-left: 30px;
    height: auto;
    text-align: center;
}
.footer_container_right{
    width: 100%;
    margin-top: 4px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.footer_icons{
    text-align: center;
    width: 250px;
    height: auto;
    float: right;
    margin-right: 30px;
}

/* responsive design for tabular view*/
@media screen and (max-width:820px) and (min-width:600px) {
    
    .container_image{
        height: 360px;
        width: 100%;
    }
    .container_main{
        height: 360px;
    }
    .navbar{
        min-height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(0, 0, 0,0.8);
        position: fixed;
        padding: 0 14px;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(6px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-6px) rotate(-45deg);
    }
    .nav-branding{
        font-size: 15px;
    
    }
    .nav-link{
        font-size: 12px;
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(0, 0, 0,0.9);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active{
        left:0;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-item.active{
        left: 0;
    }
    .introduction_container{
        padding-top: 90px;
    }
    .main_heading{
        text-align: center;
        font-size: small;
        color: white;
    }
    .main_heading_brown{
        color: rgb(236, 165, 33);
    }
    .sub_heading{
        padding-top:10px;
        text-align: center;
        color: white;
        font-size: x-small;
    }
    .short_links{
        text-align: center;
        padding: 20px;
    }
    .readmore{
        padding: 5px;
        margin-right: 10px;
        width: 90px;
        height: 25px;
        border-radius: 50px;
        border-style: none;
        background-color:  rgb(236, 165, 33);
        color: antiquewhite;
        font-weight: bolder;
    }
    .readmore p, .contact_us p{
        font-size: smaller;
        font-weight: bolder;
    }
    .contact_us{
        padding: 5px;
        margin-right: 10px;
        width: 90px;
        height: 25px;
        border-radius: 50px;
        border-style: none;
        color: rgb(0, 0, 0);
        font-weight: bolder;
    }

    /* section for we are steer */
    .details_container{
        width: 100%;
        display: flex;
        background-color: rgb(228, 226, 226);
        height: 300px;
        padding-left: 10%;
        padding-right: 10%;
    }   
    .details_container_briefs{
        width: 60%;
        /* padding: 10px; */
        padding-top: 30px;
        float: left;
    }
    .underline{
        width: 40px;
        height: 3px;
        background-color: orange;
        border-radius: 10px;
    }
    .details_container_briefs h3{
        padding-bottom: 15px;
        font-size: medium;
    }
    .detail_container_content{
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: justify;
        font-size: small;
    }
    .detail_container_content p{
        padding-bottom: 10px;
        font-size: 9px;
    }
    .details_container_images{
        width: 40%;
        /* padding: 10px; */
        padding-top: 85px;
        text-align: center;
    }
    .details_container_image_box{
        width: auto;
        /* float: right; */
        max-width: 90%;
        height: auto;
    }
    .services_container{
        width: 100%;
        /* background-color: rgb(168, 109, 109); */
        height: 500px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .services_container_heading{
        padding-bottom: 15px;
    }
    .services_container_heading h3{
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
        padding-bottom: 10px;
        padding-top: 40px;
        font-size: medium;
    }
    .underline1{
        width: 40px;
        height: 3px;
        background-color: orange;
        border-radius: 10px;
        margin: auto;
    }
    .service_card_row{
        margin: 0px;
    }
    /* Clear floats after the columns */
    .service_card_row:after {
        content: "";
        display: table;
        clear: both;
    }
    .services_cards_column{
        width: 50%;
        float: left;
        padding: 10px;
    }
    .service_card{
        height: 140px;
        /* background-color: rgb(192, 226, 208); */
        border-radius: 10px;
        text-align: center;
        padding: 5px;
        font-size: small;
    }
    .service_card:hover{
        background-color: rgb(225, 231, 231);
        box-shadow: 0 1px 3px 0 rgb(0, 0, 0,0.3);
    }
    .service_icons{
        width: 70px;
        height: auto;
    }
    .footer_container{
        width: 100%;
        margin-top: 150px;
        height: 100px;
        display: flex;}
    .footer_container_left{
        width: 30%;
        margin-top: 4px;
        background-color: rgb(0, 0, 0);
    }
    .footer_image{
        width: 150px;
        margin-top: 20px;
        margin-left: 30px;
        height: auto;
        text-align: center;
    }
    .footer_container_right{
        width: 100%;
        margin-top: 4px;
        text-align: center;
        background-color: rgb(0, 0, 0);
    }
    .footer_icons{
        text-align: center;
        width: 150px;
        height: auto;
        float: right;
        margin-right: 30px;
    }
}




/* 

/* mobiles */
@media screen and (max-width:600px) and (min-width:100px) {
    .container_image{
        height: 200px;
        width: 100%;
    }
    .container_main{
        height: 200px;
    }
    .navbar{
        min-height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(0, 0, 0,0.8);
        position: fixed;
        padding: 0 10px;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .nav-branding{
        font-size: 10px;
    
    }
    .nav-link{
        font-size: 8px;
    }
    .bar{
        display: block;
        width: 15px;
        height: 1px;
        margin: 2px auto;
        border-radius: 6px;
        background-color: antiquewhite;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(3px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-3px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 20px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(0, 0, 0,0.9);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active{
        left:0;
    }
    .nav-item{
        margin: 5.5px 0;
    }
    .nav-item.active{
        left: 0;
    }
    .introduction_container{
        padding-top: 60px;
    }
    .main_heading{
        text-align: center;
        font-size: 8px;
        color: white;
    }
    .main_heading_brown{
        color: rgb(236, 165, 33);
    }
    .sub_heading{
        padding-top:8px;
        text-align: center;
        color: white;
        font-size: 6px;
    }
    .short_links{
        text-align: center;
        padding: 10px;
    }
    .readmore{
        padding: 3px;
        margin-right: 1px;
        width: 60px;
        height: 15px;
        border-radius: 50px;
        border-style: none;
        background-color:  rgb(236, 165, 33);
        color: antiquewhite;
        font-weight: bolder;
    }
    .readmore p, .contact_us p{
        font-size: 8px;
        font-weight: bolder;
    }
    .contact_us{
        padding: 3px;
        margin-right: 1px;
        width: 60px;
        height: 15px;
        border-radius: 50px;
        border-style: none;
        color: rgb(0, 0, 0);
        font-weight: bolder;
    }
    /* section for we are steer */
    .details_container{
        width: 100%;
        display: block;
        background-color: rgb(228, 226, 226);
        height: 400px;
        padding-left: 10%;
        padding-right: 10%;
    }   
    .details_container_briefs{
        width: 100%;
        padding-top: 30px;
        /* float: left; */
    }
    .underline{
        width: 20px;
        height: 3px;
        background-color: orange;
        border-radius: 10px;

    }
    .details_container_briefs h3{
        padding-bottom: 5px;
        font-size: small;
    }
    .detail_container_content{
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: justify;
        font-size: small;
    }
    .detail_container_content p{
        padding-bottom: 10px;
        font-size: 8px;
    }
    .details_container_images{
        width: 100%;
        /* display: none; */
        height: 30px;
    }
    .details_container_image_box{
        width: 70%;
        margin-top: 15px;
        max-width: 100%;
        height: auto;
        float: none;
    }
    .services_container{
        width: 100%;
        /* background-color: rgb(168, 109, 109); */
        height: 1100px;
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 150px;
    }
    .services_container_heading{
        padding-bottom: 15px;
    }
    .services_container_heading h3{
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 40px;
        font-size: small;
    }
    .underline1{
        width: 40px;
        height: 3px;
        background-color: orange;
        border-radius: 10px;
        margin: auto;
    }
    .service_card_row{
        margin: 0px;
    }
    /* Clear floats after the columns */
    .service_card_row:after {
        content: "";
        display: block;
        clear: both;
    }
    .services_cards_column{
        width: 100%;
        float: left;
        /* padding: 10px; */
        padding-bottom: 1px;
    }
    .service_card{
        height: 170px;
        /* background-color: rgb(205, 157, 157); */
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        font-size: small;
    }
    .service_card:hover{
        background-color: rgb(225, 231, 231);
        box-shadow: 0 1px 3px 0 rgb(0, 0, 0,0.3);
    }
    .service_icons{
        width: 100px;
        height: auto;
    }
    .footer_container{
        width: 100%;
        margin-top: 10px;
        height: 90px;
        display: flex;}
    .footer_container_left{
        width: 30%;
        margin-top: 4px;
        background-color: rgb(0, 0, 0);
    }
    .footer_image{
        width: 70px;
        margin-top: 20px;
        margin-left: 30px;
        height: auto;
        text-align: center;
    }
    .footer_container_right{
        width: 100%;
        margin-top: 4px;
        text-align: center;
        background-color: rgb(0, 0, 0);
    }
    .footer_icons{
        text-align: center;
        width: 130px;
        height: auto;
        float: right;
        margin-right: 30px;
    }
}


